# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log

# ---- Virtuális környezet ----
.venv/
env/
venv/

# ---- Környezeti fájlok ----
.env
*.env

# ---- IDE / szerkesztő ----
.vscode/
.idea/

# ---- Lokális fájlok / adat ----
flow.md
*.html
számlák/
assets/
*.xlsx
# *.pdf
*.csv
*.tmp

# ---- macOS / Windows segédfájlok ----
.DS_Store
Thumbs.db
